version: "3.9"

services:
  redis:
    image: redis:latest
    container_name: job-scheduler-redis
    command: ["redis-server", "--save", "60", "1000", "--loglevel", "warning"]
    ports:
      - "6379:6379"

  app:
    container_name: job-scheduler-service
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - redis
    environment:
      SPRING_PROFILES_ACTIVE: docker
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "8080:8080"
    restart: unless-stopped
