apiVersion: apps/v1
kind: Deployment
metadata:
  name: job-scheduler-service
  labels:
    app: job-scheduler-service
spec:
  replicas: 5
  selector:
    matchLabels:
      app: job-scheduler-service
  template:
    metadata:
      labels:
        app: job-scheduler-service
    spec:
      containers:
        - name: job-scheduler-service
          image: ghcr.io/dimitryivaniuta/job-scheduler-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: kubernetes
            - name: DB_HOST
              value: postgres
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: "job_scheduler"
            - name: DB_USERNAME
              value: "job_scheduler"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: job-scheduler-db-secret
                  key: password
            - name: REDIS_HOST
              value: redis
            - name: REDIS_PORT
              value: "6379"
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
